<h1>Centro de Mensajes</h1>
<div class="container-fluid">
  <form onsubmit="msgEnviado(); return false;">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Email</label>
      <input
        id="input-email"
        type="email"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su email"
        required="true"
      />
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Nombre</label>
      <input
        id="input-nombre"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su nombre"
        required="true"
      />
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Apellido</label>
      <input
        id="input-apellido"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su apellido"
        required="true"
      />
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Edad</label>
      <input
        id="input-edad"
        type="number"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su edad"
        required="true"
      />
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Alias</label>
      <input
        id="input-alias"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su alias"
        required="true"
      />
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Avatar</label>
      <input
        id="input-avatar"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese la url de su avatar"
        required="true"
      />
    </div>
    <div id="msg-listado">

    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Mensaje</label>
      <input
        id="input-msg"
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="ingrese su mensaje"
        required="true"
      />
    </div>
    <button type="submit" class="btn btn-secondary">Enviar Mensaje</button>
  </form>
</div>