<div class="container-fluid">
  <h1>No se pudo loguear, ingrese los datos correctamente</h1>
  <a class="btn btn-secondary" href="./login">Reintentar</a>
</div>
<script>
  const timer = () => { setTimeout(() => { location.href = '/login' }, 5000); }
  timer()
</script>