<div class="container-fluid">
  <h1>Deslogueo realizado del usuario
    <span>{{user.username}}</span>, hasta luego!</h1>
</div>
<script>
  const timer = () => { setTimeout(() => { location.href = '/login' }, 5000); }
  timer()
</script>