<div class="container-fluid">
  <h1>Signup fail, El usuario ya existe o ingrese datos correctos</h1>
  <a class="btn btn-secondary" href="/signup">Reintentar</a>
</div>
<script>
  const timer = () => { setTimeout(() => { location.href = '/signup' }, 5000); }
  timer()
</script>